@import "plannerz-colors-light.css";

h1 {
    color: var(--plannerzOrange);
    font-size: 70px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

h2 {
    color: var(--plannerzLightBrown);
    font-size: 40px;
    text-align: center;
    text-decoration: overline;
}

h3 {
    color: var(--plannerzLightBrown);
    font-size: 20px;
    text-align: center;
}

.textDiv {
    color: var(--plannerzDarkBrown);
    border-radius: 10px;
    max-width: 1000px;
    text-align: center;
    border: 5px solid var(--plannerzLightBrown);
    margin: auto;
    font-size: 30px;
}

stuff {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
    
}


.lineUp-1{
    animation: 3000ms anim-lineUp ease-out;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  .lineUp-2{
    animation: 5000ms anim-lineUp ease-out;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  .lineUp-3{
    animation: 6000ms anim-lineUp ease-out;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  .lineUp-4{
    animation: 6500ms anim-lineUp ease-out;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  .lineUp-5{
    animation: 6750ms anim-lineUp ease-out;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  .waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    color: var(--plannerzLightBrown);
    font-size: 40px;
    text-align: center;
    text-decoration: overline;
    animation: flip 6s infinite;
    animation-delay: calc(.4s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }