h1 {
    color: #c45400;
    font-size: 70px;
    text-align: center;
}

h2 {
    color: #994900;
    font-size: 40px;
    text-align: center;
    text-decoration: overline;
}

h3 {
    color: #994900;
    font-size: 20px;
    text-align: center;
}

.textDiv {
    color: #59320a;
    border-radius: 10px;
    max-width: 1000px;
    text-align: center;
    border: 5px solid #994900;
    margin: auto;
    font-size: 30px;
}

/*
This is the CSS for the logo and Navbar.
DO NOT DELETE OR CHANGE BELOW THIS
*/

.logoDiv {
    border-radius: 10px;
    max-width: 150px;
    border: 5px solid #d17200;
    margin: 10px;
    font-size: 50px;
    color: #994900;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #994900;
    font-size: x-large;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: left;
    border-right: 1px solid #020202;
}

li:last-child {
    border-right: none;
}

li a {
    display: flex;
    color: #f2e3d6;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #59320a;
}

.active {
    background-color: #c45400;
}