* {
    margin:0;
}

table {
    width: 700px;
    table-layout: fixed;
}

tr {
    height: 100px;
}

.big tr {
    height: 83px;
}

th, td {
    background-color: #fff0e2;
    border: 1px black solid;
    width: 100px;
}

#days-of-week {
    height:0;
}

#calendar-head {
    height: 80px;
}

th {
    font-size: 30px;
}

td {
    vertical-align: top;
}

a {
    color: #000000;
    text-decoration: none;
}

ul {
    color: #59320a;
    font-size: 12px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    white-space: nowrap;
    display: inline;
}