:root {
    --planzDarkBrown: #59320a;
    --planzLightBrown: #994900;
    --planzOrange: #c45400;
    --planzLightOrange: #d17200;
    --planzBeige: #f2e3d6;
    --planzOffWhite: #fff0e2;
    --planzVeryDarkGray: #020202;
}

* {
    margin: 0;
}

table {
    color: white;
    width: 700px;
    table-layout: fixed;
    border-collapse: collapse;
}

tr {
    height: 100px;
}

th, td {
    background-color: var(--planzLightOrange);
    width: 100px;
    border: 1px var(--planzLightBrown) solid;

}

td {
    vertical-align: top;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    font-size: 12px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    white-space: nowrap;
    display: inline;
}

.active {
    background-color: var(--planzOrange);
}

.big tr {
    height: 83px;
}

#calendar-head th {
    background: white;
}

#days-of-week th {
    background-color: var(--planzLightBrown);
}

#days-of-week {
    height: 30px;
    vertical-align: center;
}

#calendar-head {
    height: 80px;
}

#calendar-head th {
    font-size: 30px;
    color: black;
    background-color: var(--planzBeige);
}