/* TODO: Fix date/time for smaller sizes
 * TODO: Fix buttons for smaller sizes
 * TODO: Prevent forms from overloading
 */

@import "planz-colors.css";

#calendar {
    width: 90%;
    aspect-ratio: 3/2;
    margin: auto auto 5%;
}

.container {
    text-align: center;
    width: 100%;
}

.container input[type=text], .container textarea {
    width: 45%;
}

.my-radio label[class=for-radio], .my-radio input {
    display: inline-block;
}

.my-radio label[class=for-radio] {
    width: 6.2%;
    margin-bottom: 0;
}

.my-radio img {
    margin-left: -3px;
    width: 20px;
}

.my-radio input {
    box-sizing: border-box;
    margin-right: 4%;
}

#event-form, #assignment-form {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    box-sizing: border-box;
    width: 48%;
    margin-bottom: 5%;
    min-width: 400px;
    height: 442px;
    min-height: max-content;
}

#month {
    width: 100%;
    height: 100%;
}

#month table {
    color: white;
    table-layout: fixed;
    border-collapse: collapse;
    display: flex;
}

#month tr {
    height: 15%;
}

#month #days-of-week {
    height: 4%;
    vertical-align: center;
}

#month th, #month td {
    background-color: var(--planzLightOrange);
    border: 0.2vw var(--planzLightBrown) solid;
    width: calc(100% / 7);
    border-radius: 1vw;
    padding: 0.5vw;
    font-size: 1.6vw;
}

#month td {
    vertical-align: top;
}

#month ul {
    list-style: none;
    font-size: 1.2vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#month li {
    white-space: nowrap;
    display: inline;
}

#month a {
    color: black;
    text-decoration: none;
}

#month .active {
    background-color: var(--planzOrange);
}

#month #days-of-week th {
    background-color: var(--planzOrange);
}

#calendar-head th {
    font-size: 5vw;
    text-shadow: 2px 2px 2px var(--planzDarkBrown);
    font-variant: small-caps;
}

#calendar-head th * {
    display: inline-block;
}

#calendar-head img {
    height: 100%
}

#calendar-head #month-head {
    vertical-align: top;
}

#calendar-head .backward-arrow {
    float: left;
    height: 4vw;
    transform: scaleX(-1);
}

#calendar-head .forward-arrow {
    float: right;
    height: 4vw;
}