:root {
    --planzDarkBrown: #59320a;
    --planzLightBrown: #994900;
    --planzOrange: #c45400;
    --planzLightOrange: #d17200;
    --planzBeige: #f2e3d6;
    --planzOffWhite: #fff0e2;
}

.my-form h2 {
    font-size: 30px;
    padding-bottom: 5px;
}

.my-form {
    display: block;
    background-color: var(--planzLightOrange);
    border: var(--planzDarkBrown) 5px solid;
    border-radius: 15px;
    padding: 10px;
}

.my-form .form-group {
    padding-top: 10px;
}

.my-form label {
    position: relative;
    display: inline-block;
    width: 195px;
    margin-bottom: 5px;
    font-weight: 500;
}

.my-form input[type=text], .my-form input[type=password], input[type=email] {
    padding: 3px;
    border-radius: 5px;
}

.my-form input[type=text], .my-form input[type=password] {
    width: 130px;
    margin-right: 54px;
}

.my-form input[type=email] {
    width: 200px;
    margin-right: 70px;
}

.my-form input[type=checkbox] {
    cursor: pointer;

}

.my-form input[type=submit], .my-form input[type=button] {
    width: 120px;
    height: 35px;
    border-radius: 15px;
    background-color: var(--planzLightBrown);
    color: var(--planzBeige);
    border: 0;
    font-weight: bold;
    font-size: 18px;
}

.my-form input[type=submit]:hover, .my-form input[type=button]:hover {
    background-color: var(--planzBeige);
    color: var(--planzLightBrown);
    font-weight: bold;
    font-size: 18px;
}