@import "planz-colors.css";

.my-form {
    width: 40%;
    min-width: 400px;
    margin: auto;
}

.to-signup {
    width: 40%;
    min-width: 400px;
    margin: 10px auto;
}

a {
    color: var(--plannerzDarkBrown);
    text-decoration: none;
}

em {
    font-style: normal;
    font-weight: bold;
    color: black;
}
