:root {
    --plannerzDarkBrown: #59320a;
    --plannerzLightBrown: #994900;
    --plannerzOrange: #c45400;
    --plannerzLightOrange: #d17200;
    --plannerzBeige: #f2e3d6;
    --plannerzOffWhite: #fff0e2;
    --plannerzVeryDarkGray: #020202;
}