:root {
    --plannerzDarkBrown: #59320a;
    --plannerzLightBrown: #994900;
    --planzOrange: #c45400;
    --planzLightOrange: #d17200;
    --planzBeige: #f2e3d6;
    --planzOffWhite: #fff0e2;
    --planzVeryDarkGray: #020202;
}