@import "planz-colors.css";

.my-form {
    width: 40%;
    min-width: 400px;
    margin: auto;
}

a {
    color: var(--plannerzDarkBrown);
    text-decoration: none;
}

.my-form {
    margin: auto;
}