@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "planz-colors.css";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--planzBeige);
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: var(--planzLightOrange);
}


p {
    color: var(--planzDarkBrown);
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--planzLightBrown);
    font-size: x-large;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-weight: bold;
    vertical-align: center;
}

.logoDiv {
    border-radius: 10px;
    width: max-content;
    height: 37px;
    border: 5px solid var(--planzLightOrange);
    margin: 10px;
    padding: 8px 8px 14px;
    align-content: center;
}

.logo {
    color: var(--planzLightBrown);
    alignment: center;
    vertical-align: center;
    font-weight: normal;
    font-size: 50px;
    line-height: 90%;
    margin: 0;
}

header #logo {
    margin: 10px;
    width: 150px;
}

nav li {
    float: left;
    border-right: 1px solid var(--planzVeryDarkGray);
}

nav ul {
    list-style: none;
}

nav li:last-child {
    border-right: none;
    float: right;
}

nav li a {
    display: flex;
    color: var(--planzBeige);
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: var(--planzDarkBrown);
}

.active {
    background-color: var(--planzOrange);
}

.content {
    padding: 10px
}